<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Pulse - Your Journey Begins Here</title>
  <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../CSS/landingPage.css">



</head>

<body>
  <div class="container" id="home">
    <header>
      <nav class="navbar text-white">
        <!-- Logo -->
        <div class="logo-div">
          <img src="../../Resources/Icons/logo.png" alt="" id="logo">
        </div>
        <!-- Navigation items -->
        <ul class="nav-items">
          <li class="nav-item"><a href="#home">Home</a></li>
          <li class="nav-item"><a href="#destination-section">Destinations</a></li>
          <li class="nav-item"><a href="#">Stories</a></li>
          <li class="nav-item"><a href="#">Reviews</a></li>
        </ul>
        <div class="cdn-buttons">
          <button class="btn2">Sign Up</button>
          <button class="btn3">Login</button>
        </div>

      </nav>
    </header>
  </div>
  <div class="motto-div">
    <h1> Discover New Places and Create <br>Unforgettable Memories</h1>
  </div>

  <section id="destination-section">
    <div class="trip-view margin-top">
      <div class="plan-text">
        <h2>Plan your best trip ever</h2>
        <p>Making the Most of Your Travel Experience in 2024</p>
      </div>
      <div class="view-all-destinations">
        <button class="btn">View All Destinations</button>
      </div>
    </div>
    <div class="destination-images">
      <div class="location-display">
        <img src="../../Resources/Backgrounds/4.jpg" alt="">
        <h3>Crotia</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/2.jpg" alt="">
        <h3>Mexico</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/1.jpg" alt="">
        <h3>Moracco</h3>
      </div>
    </div>

    <div class="trip-view margin-top">
      <div class="plan-text">
        <h2> Top Locations to Explore</h2>
        <p> Here are some of the most visited places in 2024</p>
      </div>
      <div class="view-all-destinations">
        <button class="btn-arrow">&#8592;</button>
        <button class="btn-arrow">&#8594;</button>
      </div>
    </div>
    <div class="destination-images">
      <div class="location-display">
        <img src="../../Resources/Backgrounds/3.jpg" alt="">
        <h3>Crotia</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/5.jpg" alt="">
        <h3>Mexico</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/4.jpg" alt="">
        <h3>Moracco</h3>
      </div>
    </div>

    <div class="trip-view margin-top">
      <div class="plan-text">
        <h2> Your Recent Searches</h2>
        <p> Here are some of the places you have searched</p>
      </div>
      <br>
    </div>
    <div class="searches-div margin-top">
      <div class="search-div">
        <i>&#9906;</i>
        <div class="search-country">
          <h4>Burj Khalifa</h4>
          <p>Dubai, UAE</p>
        </div>
      </div>
      <div class="search-div">
        <i>&#9906;</i>
        <div class="search-country">
          <h4> Museum of Tomorrow</h4>
          <p>Rio de Janeiro, Brazil</p>
        </div>
      </div>
      <div class="search-div">
        <i>&#128269;</i>
        <div class="search-country">
          <h4> Restaurants in Canada</h4>
          <p></p>
        </div>
      </div>
      <div class="search-div">
        <i>&#128269;</i>
        <div class="search-country">
          <h4> Hotels in Canada</h4>
          <p></p>
        </div>
      </div>
      <div class="search-div">
        <i>&#9906;</i>
        <div class="search-country">
          <h4>Burj Khalifa</h4>
          <p>Dubai, UAE</p>
        </div>
      </div>
    </div>

    <div class="trip-view margin-top">
      <div class="plan-text">
        <h2> Locations based on your search</h2>
        <p> Check out fun places based on your searches</p>
      </div>
      <div class="view-all-destinations">
        <button class="btn-arrow">&#8592;</button>
        <button class="btn-arrow">&#8594;</button>
      </div>
    </div>
    <div class="destination-images">
      <div class="location-display">
        <img src="../../Resources/Backgrounds/1.jpg" alt="">
        <h3>Crotia</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/2.jpg" alt="">
        <h3>Mexico</h3>
      </div>
      <div class="location-display">
        <img src="../../Resources/Backgrounds/3.jpg" alt="">
        <h3>Moracco</h3>
      </div>
    </div>

  </section>







  <footer>
    <div class="footer-logo">
      <img src="../../Resources/Icons/logo.png" alt="">
    </div>
    <p>&copy; 2023 Travel Pulse. All rights reserved</p>
  </footer>

</body>

</html>